/*  Estilos de la barra de menús del editor */
.editor-option {
    display: inline-block;
    /* margin-inline: 2px; */
    padding: 4px;
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    border: solid 1px lightgray;
}

.editor-option:hover {
    translate: -1px -1px;
    box-shadow: 1px 1px 2px lightgray;
}

.is-active {
    background-color: darkgray;
    color: white;
    border: solid 1px whitesmoke;
}



/*  Estilos del editor y su interior */
.tiptap {
    background-color: whitesmoke;
    border-radius: 8px;
    border: solid 1px lightgray;
    padding: 20px;
}

.tiptap h1 {
    all: unset;
    font-size: 2.4rem;
}

.tiptap h2 {
    all: unset;
    font-size: 2rem;
}

.tiptap ul {
    list-style-type: disc;
}

.tiptap ol {
    list-style-type: decimal;
}



/* Estilos de los iconos */
.lucide {
    width: 16px;
    height: 16px;
    /* Propiedades de ejemplo: 
    color: #ffadff;
    width: 56px;
    height: 56px;
    stroke-width: 1px;
    */
}